[submodule "milsko"]
	path = submodules/milsko
	url = https://github.com/pyrite-dev/milsko.git
[submodule "submodules/MilskoNativeFileManager"]
	path = submodules/MilskoNativeFileManager
	url = https://github.com/IoIxD/MilskoNativeFileManager.git
